<html>
    <head>
        <% include ./part/header %>
    </head>
    <body>
        <form method="POST" action="/delete/<%= no %>">
            <p><input type="text" name="id" placeholder="ID"/></p>
            <p><input type="password" name="password" placeholder="PASSWORD" /></p>
            <p><input type="submit" value="DELETE" /></p>
            <a href="/">MAIN</a>
        </form>
    </body>
</html>